.yas-box-shadow {
    box-shadow: 0 8px 22px 1px #eee;
    transition: all ease 0.1s;
}
.yas-box-shadow-nh {
    box-shadow: 0 8px 22px 1px #eee;
    transition: all ease 0.1s;
}
.yas-box-shadow:hover {
    box-shadow: 0 8px 22px 5px #eee;
}
.yas-font-size-10 {
    font-size: 10px;
}
.yas-height-250 {
    height: 250px !important;
}
.yas-box-shadow-unset, .yas-box-shadow-unset:focus {
    box-shadow: unset !important;
}
.yas-border-radius-5 {border-radius: 5px;}
.yas-border-0 {
    border: 0 !important;
}
.yas-border-radius-0 {
    border-radius: 0 !important;
}
.footer {
    text-align: center;
}
.contactIcon {
    font-size: 30px;
}
.searchForm {
    border: 2px solid #ffc107;
    border-radius: 5px;
}